@charset "UTF-8"; 

     /*Fontes do projeto importadas do google fontes*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --font1: verdana, geneva, tahoma, sans-serif;      
  --font2: 'Passion One', sans-serif;
  --font3: 'Sriracha', cursive;
}



* {                     /* configurações gerais*/
  margin: 0px;
  padding: 0px;
}

html,body {               /* corpo do código*/
  min-height: 100vh;
  background-color: darkgray;
  font-family: var(--font1);
}

header {                      /* cabeçalho*/
  background-color: black;
  color: white;
  text-align: center;
  
  
}

header > h1 {
  padding-top:50px;
  font-variant: small-caps;   /* Deixar as letras maiusculas e destaque para as primeiras letras*/
  font-family: var(--font2);
  font-size: 10vw;
}

header > p {
  padding-bottom: 50px;
}

header a, footer a {
  text-decoration: none;
  color: white;
  font-weight: bolder;

}

header a:hover, footer a:hover {
  text-decoration: underline;
}


section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: var(--font3); 
  font-size: 3,5vw;   
}


section > p {
  padding-bottom: 2em;    /*Espaço entre os paragrafos*/
}


section.normal {
  background-color: aliceblue;
  color: black;
}

section.imagem {
  background-color: rgb(60, 60, 60);
  color: white;
  box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.56);
  background-size: cover;
  background-attachment: fixed;  /*efeito parallax*/
}

section.imagem > p{
  display: inline-block;
  padding: 5px;
  background-color: rgba(31, 30, 30, 0.463);
  text-shadow: 1px 1px 0px black
}

section#img01 {
  background-image: url(imagens/background001.jpg);
  background-position: right center;
  

}

section#img02 {
  background-image: url(imagens/background002.jpg);
  

}


footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
}